.logo {
	text-align: center;
	width:100%;
	height:400px;
}

.offline {
	visibility: hidden;
	color: #f00;
	font-style: italic;
}

#map {
	width: 100%;
	height: 50%;
}

#noteimage {
	width: 200px;
	height: 200px;
	display: none;
}

#notelist {
	margin-bottom: 15px;
}